html,
body {
	height: 100%;
}

body {
	background-color: white;
	color: #333;
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
}

.raffle {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.winner-container,
.winner {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	font-size: 60px;
}

.second {
	display: none;
}

.btn {
	background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);
}

.scaleIt {
	-webkit-animation-name: scaleIt;
	-webkit-animation-duration: 1s;
}

@-webkit-keyframes scaleIt {
	0% {
		-webkit-transform: scale(1);
	}

	100% {
		-webkit-transform: scale(3);
	}
}
